.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  z-index: 1;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}


.brand-logo {
  width: 150px;
  flex: auto;
  margin-top: 8px;
  margin-left: 10px;  
}


.options {
  display: flex;
  flex-direction: row;
  width: 900px;
  justify-content: space-between;
  margin-left: 400px;
  cursor: pointer;
}

.contact-us {
  color: rgb(244, 88, 114);
}

.travel-blog {
  font-size: 15px;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
}

.travel-blog:hover {
  color: rgb(244, 88, 114);
}

.home:hover {
  color: rgb(246, 130, 149);
}

.about-us:hover {
  color: rgb(246, 130, 149);
}

.faq:hover {
  color: rgb(246, 130, 149);
}

.custom-tours:hover {
  color: rgb(246, 130, 149);
}

.group-tours:hover {
  color: rgb(246, 130, 149);
}

.testimonials:hover {
  color: rgb(246, 130, 149);
}

.contact-us:hover {
  color: rgb(246, 130, 149);
}

.heading-1:hover {
  color: rgb(203, 136, 12);
  cursor: pointer;
}

.title:hover {
  color: rgb(250, 163, 0);
  cursor: pointer;
}

.more:hover {
  color: rgb(240, 102, 146);
  cursor: pointer;
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;


}


.image-1 {
  width: 794px;
  height: 530px;
}

.content-1,
.content-2 {
  width: 794px;
  height: 530px;
}
.contact-us-1 {
  font-size: 52px;
  font-family: amaranth,sans-serif;
  color: rgb(67, 193, 198);
  margin-bottom: 26px;
}

.row-1,
.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.name,
.email,
.phone,
.month-of-travel,
.number-of-days,
.number-of-travellers,
.travel-details {
  font-size: 14px;
  font-family: arial;
  color: rgb(68, 68, 68);
  font-weight: bold;
  padding-bottom: 3px;
}

span {
  color: rgb(185, 74, 72);
  font-size: 14px;
}

input {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-color: rgb(165, 165, 165);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
}

.month-of-travel-search-bar {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-color: rgb(165, 165, 165);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
}

.travel-details-box {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-color: rgb(165, 165, 165);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  width: 794px;
  height: 133px;
}

.submit-button {
  color: rgb(68, 68, 68);
  font-size: 14px;
  font-family: arial;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: white;
  border-style: solid;
  border-color: rgb(183, 182, 182);
  border-width: 0.5px;
  border-radius: 2px;
  cursor: pointer;
}

.footer {
  background-color: rgb(241, 198, 152);
  height: 400px;
}

.options-section {
  color: white;
  display: flex;
  flex-direction: row;
  width: auto ;
  justify-content: center;
  padding-top: 50px;
  font-size: 18px;
  font-family: DM Sans, sans-serif;
  
}

.aboutus,
.contactus,
.privacy-policy,
.FAQ {
  padding-right: 20px;
}

.contact-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}

.address {
  width: 400px;
  color: white;
  font-size: 18px;
  font-family: DM Sans, sans-serif;
  padding-left: 20px;
  padding-right: 100px;
}

.brand-logo-1 {
  width: 100px;
}

.aboutus:hover {
  color: rgb(240, 102, 146);
  cursor: pointer;
}

.contactus:hover {
  color: rgb(240, 102, 146);
  cursor: pointer;
}

.privacy-policy:hover {
  color: rgb(240, 102, 146);
  cursor: pointer;
}

.FAQ:hover {
  color: rgb(240, 102, 146);
  cursor: pointer;
}

