.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  z-index: 1;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}


.brand-logo {
  width: 150px;
  flex: auto;
  margin-top: 8px;
  margin-left: 10px;  
}


.options {
  display: flex;
  flex-direction: row;
  width: 900px;
  justify-content: space-between;
  margin-left: 400px;
  cursor: pointer;
}

.home {
  color: rgb(244, 88, 114);
}

.travel-blog {
  font-size: 15px;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
}

.travel-blog:hover {
  color: rgb(244, 88, 114);
}


.hawa-mahal {
  width: 1500px;
  object-fit: cover;
  object-position: center;
  position: relative;
  top: 60px;
  left: 0;
  right: 0;
  opacity: 0.6;
  filter: opacity(100%);
  height: 600px;
}

.image-1 {
  position: absolute;
  top:0;
  background-color: rgb(57, 229, 235,0.7);
  height: 660px;

}

.content {
  position: absolute;
  top: 20%;
  left: 35%;
  text-align: center;
  
}

.heading {
  font-family: Lato, sans-serif;
  font-size: 36px;
  width: 436px;
  height: 43.2px;
  color: white;
  margin-bottom: 18px;
  text-align: center;
  padding-left: 20px;
}

.sub-heading {
  font-size: 50px;
  font-family: Amaranth, sans-serif;
  width: 436px;
  height: 150px;
  color: white;
  margin-bottom: 25px;
  line-height: 80px;
  margin: 25px;
  text-align: center;
}

.button-1 {
  width: 184.73px;
  height: 68.8px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-family: Marcellus, serif;
  color: white;
  background-color: rgb(241, 55, 113);
  cursor: pointer;
}

.button-1:hover {
  background-color: rgb(255, 203, 106);

}

.section-2 {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 652px;
  justify-content: space-between;
  width: 100%;
  height: 600.83px;
  background-color: rgb(235, 205, 173);
}

.section-2-image-1 {
  width: 537.83px;
  height: 358.55px;
  padding-left: 200px;
  padding-top: 100px;
}

.heading-1 {
  font-size: 38px;
  font-family: Amaranth, sans-serif;
  font-size: 38px;
  margin-bottom: 19px;
  color: rgb(67, 193, 198);
  width: 392.5px;
  height: 114px;
}

.content-1{
  font-size: 18px;
  color: rgb(71, 71, 71);
  font-family: DM Sans, sans-serif;
  margin-bottom: 32px;
  width: 392.5px;
  height: 172.78px;
  
}


.content-section-2 {
  padding-right: 200px;
  padding-top: 100px;
}

.button-2 {
  border: none;
  border-radius: 50px;
  font-size: 14px;
  font-family: Marcellus, serif;
  color: white;
  background-color: rgb(241, 55, 113);
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.button-2:hover {
  background-color: rgb(255, 203, 106);
}
.section-3 {
  position: relative;
  width: 1500px;
  top: 600px;

}

.content-section-3 {
  width: 1497.6px;
  height: 317.53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: px;
  
}

.heading-2 {
  color: rgb(67, 193, 198);
  font-size: 40px;
  font-family: Amaranth, sans-serif;
  margin-bottom: 20px;
  width: 560px;
  height: 120px;
  text-align: center;
}

.content-2 {
  color: rgb(71, 71, 71);
  font-size: 18px;
  font-family: DM Sans, sans-serif;
  width: 560px;
  height: 58px;
  text-align: center;
}

.images-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1500px;
  height: 730px;
  position: relative;
  padding-top: 25px;
  padding-left: 24px;
  padding-right: 24px;
  

  
}
.images-content-section-1 {
  display: flex;
  flex-direction: column;
  
  align-items: center;

}

.images-content-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-content-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-3 {
  width: 300px;
  height: 250px;
  background-color: rgb(235, 205, 173);
  margin-bottom: 50px;
  padding: 50px;

}


.image-2 {
  width: 370px;
  height: 275px;
  
}

.image-3 {
  width: 426px;
  height: 640px;
  
}

.image-4 {
  width: 367px;
  height: 275px;
}

.content-4 {
  width: 367px;
  height: 338px;
  margin-bottom: 40px;
}

.content-3-text-1 {
  font-size: 26px;
  color: rgb(67, 193, 198);
  font-family: Capriola, sans-serif;
  margin-bottom: 13px;
  text-align: center;
}

.content-3-text-2 {
  font-size: 18px;
  font-family: DM Sans, sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgb(71, 71, 71);
  text-align: center;
}

.content-3-button-1 {
  text-align: center;
}

.Find-out-more {
  font-size: 14px;
  font-family: Marcellus, serif;
  width: 215px;
  height: 63px;
  padding: 0;
  border-radius: 50px;
  border: none;
  background-color: rgb(241, 55, 113);
  color: white;
  cursor: pointer;
}

.Find-out-more:hover {
  background-color: rgb(255, 203, 106);
}
.section-3-image-2 {
  width: 368px;
  height: 275px;
}

.section-3-image-3 {
  width: 426px;
  height: 640px;
}

.section-3-image-4 {
  width: 367px;
  height: 275px;
}

.content-3-text-3 {
  font-size: 26px;
  color: rgb(67, 193, 198);
  font-family: Capriola, sans-serif;
  margin-bottom: 13px;
  text-align: center;
}

.content-3-text-4 {
  font-size: 18px;
  font-family: DM Sans, sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgb(71, 71, 71);
  text-align: center;
}

.content-3-button-2 {
  text-align: center;
}

.Read-our-faq {
  font-size: 14px;
  font-family: Marcellus, serif;
  width: 215px;
  height: 63px;
  padding: 0;
  border-radius: 50px;
  border: none;
  background-color: rgb(241, 55, 113);
  color: white;
  cursor: pointer;
}

.section-4 {
  position: relative;
  top: 600px;
  background-color: rgb(235, 205, 173);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.images-content-section-4-1,
.images-content-section-4-2,
.images-content-section-4-3 {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.section-4-image-5,
.section-4-image-6,
.section-4-image-7 { 
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.section-4-content {
  font-size: 24px;
  font-family: Capriola, sans-serif;
  color: rgb(67, 193, 198);
}

.section-5 {
  position: relative;
  top: 610px;
  display: flex;
  flex-direction: row;
  width: 1500px;
  
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  
}

.image-8 {
  width: 600px;
  height: 400px;
}

.section-5-content {
  position: absolute;
  top: 450px;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: rgb(241, 55, 113);
  color: white;
  border-radius: 5px;
  left: 30px;
}

.text-1,
.text-3 {
  font-size: 40px;
  font-family: amaranth, sans-serif;
  margin-bottom: 5px;
  text-align: center;

}

.text-2,
.text-4 {
  font-size: 21px;
  font-family: Lato, sans-serif;
  text-align: center;
}

.section-5-content-1 {
  padding-right: 20px;
}

.section-5-heading-1 {
  font-size: 32px;
  font-family: Amaranth, sans-serif;
  margin-bottom: 16px;
  color: rgb(67, 193, 198);
}

.section-5-sub-heading {
  font-size: 18px;
  font-family: DM Sans, sans-serif;
  margin-bottom: 32px;
  color: rgb(71, 71, 71);

}

.section-5-part-2 {
  margin-left: 300px;
  width: 500px;
}

.section-6 {
  position: relative;
  top: 650px;
  display: flex;
  flex-direction: row;
}

.section-6-image-9 {
  height: 800px;
  width: 1000px;
  object-fit: cover;
  object-position: center;
}

.section-6-content {
  padding-left: 50px;
}

.section-6-content-1 {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  
}

.section-6-contact-us {
  font-size: 80px;
  font-family: Amaranth, sans-serif;
  margin-bottom: 20px;
  color: rgb(67, 193, 198);
}

.section-6-text-1 {
  font-size: 40px;
  font-family: DM Sans, sans-serif;
  color: rgb(71, 71, 71);
  margin-bottom: 32px;
  text-align: center;
}

.email-us,
.Address,
.Call-Us {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.section-6-image-10,
.section-6-image-11,
.section-6-image-12 {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 5px;
  
}

.section-6-text-2,
.section-6-text-4,
.section-6-text-6 {
  font-size: 40px;
  font-family: capirola, sans-serif;
  font-weight: bold;
  color: rgb(67, 193, 198);
  padding-bottom: 5px;
}

.section-6-text-3,
.section-6-text-5,
.section-6-text-7 {
  font-family: DM Sans, sans-serif;
  font-size: 20px;
  color: rgb(67, 193, 198);
}

.footer {
  position: relative;
  top: 660px;
  background-color: rgb(241, 198, 152);
  height: 400px;
}

.options-section {
  color: white;
  display: flex;
  flex-direction: row;
  width: auto ;
  justify-content: center;
  padding-top: 50px;
  font-size: 18px;
  font-family: DM Sans, sans-serif;
  
}

.aboutus,
.contactus,
.privacy-policy,
.FAQ {
  padding-right: 20px;
}

.contact-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}

.address {
  width: 400px;
  color: white;
  font-size: 18px;
  font-family: DM Sans, sans-serif;
  padding-left: 20px;
  padding-right: 100px;
}

.brand-logo-1 {
  width: 100px;
}

.home:hover {
  color: rgb(246, 130, 149);
}

.about-us:hover {
  color: rgb(246, 130, 149);
}

.faq:hover {
  color: rgb(246, 130, 149);
}

.custom-tours:hover {
  color: rgb(246, 130, 149);
}

.group-tours:hover {
  color: rgb(246, 130, 149);
}

.testimonials:hover {
  color: rgb(246, 130, 149);
}

.contact-us:hover {
  color: rgb(246, 130, 149);
}

.heading-1:hover {
  color: rgb(203, 136, 12);
  cursor: pointer;
}

.title:hover {
  color: rgb(250, 163, 0);
  cursor: pointer;
}

.more:hover {
  color: rgb(240, 102, 146);
  cursor: pointer;
}

.aboutus:hover {
  color: rgb(240, 102, 146);
  cursor: pointer;
}

.contactus:hover {
  color: rgb(240, 102, 146);
  cursor: pointer;
}

.privacy-policy:hover {
  color: rgb(240, 102, 146);
  cursor: pointer;
}

.FAQ:hover {
  color: rgb(240, 102, 146);
  cursor: pointer;
}